body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url('https://drive.google.com/file/d/15eVXxJNXTHsdhZJQqL_vP2pmKjtQB9jg/view?usp=drive_link') center/cover; /* Adicionado fundo romântico */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column; /* Empilhar os elementos verticalmente */
}

header {
    background-color: #ff7070;
    color: #fff;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%; /* Ocupar a largura total */
}

.container {
    text-align: center;
    margin-top: 20px;
}

h2 {
    font-size: 24px;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #ff7070;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease-in-out;
}

button:hover {
    background-color: #e5673b;
    transform: translateY(-3px);
}

/* Adicionado regra de mídia para estilos específicos de celular */
@media (max-width: 600px) {
    header {
        position: fixed; /* Fixar o cabeçalho no topo da tela */
        top: 0;
        z-index: 1; /* Garantir que o cabeçalho esteja acima de outros elementos */
    }

    .container {
        margin-top: 80px; /* Aumentar a margem para compensar o cabeçalho fixo */
    }

    h2 {
        font-size: 20px;
    }

    button {
        font-size: 14px;
    }
}
